@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/UncutSans.woff2') format('woff2');
  font-weight: 400 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cal Sans';
  src: url('/fonts/CalSans.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}


html {
  overflow-y: scroll;
  color-scheme: light;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased font-medium tracking-[-0.0125rem] flex flex-col bg-white text-black/50;
  font-family: "Uncut Sans", sans-serif;
}

::selection {
  @apply bg-zinc-200 text-black;
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-5;
  @apply bg-white/75;
  @apply backdrop-blur-sm saturate-200;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

img{
  @apply select-none;
}

article {
  @apply max-w-full prose prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-medium prose-p:font-sans;
  @apply prose-headings:text-black;
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-black/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-black;
    @apply decoration-black/25;
  }
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}

p{
  font-size: 1.068rem;
  line-height: 1.75;
}

h1{
  @apply text-[2.25rem] font-semibold tracking-normal leading-tight text-black;
  font-family: "Cal Sans", sans-serif;
}

h2{
  @apply text-[1.9rem] font-semibold tracking-normal text-black;
  font-family: "Cal Sans", sans-serif;
}

h3{
  @apply text-black text-[1.75rem] tracking-normal font-semibold leading-[1.25];
  font-family: "Cal Sans", sans-serif;
}

h4{
  @apply text-black text-[1.35rem] tracking-normal font-semibold leading-[1.25];
  font-family: "Cal Sans", sans-serif;
}

h5{
  @apply text-black text-[1.25rem] tracking-normal font-semibold leading-[1.25];
  font-family: "Cal Sans", sans-serif;
}

strong, b{
  @apply tracking-normal;
  font-family: "Cal Sans", sans-serif;
  font-weight: 600;
}

.bigtext{
  font-family: "Cal Sans", sans-serif;
}