@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter";
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/InterVariable.woff2") format("woff2");
}

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-white dark:bg-black;
  @apply text-black/50 dark:text-white/75;
  font-family: "Inter";
  font-weight: 500;
  @apply tracking-tight;
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-5;
  @apply bg-white/75 dark:bg-black/75;
  @apply backdrop-blur-sm saturate-200;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

article {
  @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-medium prose-p:font-sans;
  @apply prose-headings:text-black prose-headings:dark:text-white;
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-black/30 dark:decoration-white/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-black dark:text-white;
    @apply decoration-black/25 dark:decoration-white/50;
  }
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}

p{
  font-size: 1.068rem;
  line-height: 1.8;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.75rem;
}

h3{
  font-size: 1.5rem;
  line-height: 1.4;
}

h4{
  font-size: 1.25rem;
  line-height: 1.4;
}

strong{
  font-weight: 600;
}