---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, SOCIALS, ABOUT } from "@consts";
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <div>
      <h1 class="animate text-md">
        About <span class="text-black/50">me</span>
      </h1>

      <article class="space-y-12 md:space-y-32">
        <section class="flex flex-col md:flex-row gap-x-16 items-center">
          <div>
          <h3 class="animate">
            I'm Fanindra Maharana, an Interaction Designer who's all about
            crafting seamless digital experiences. Currently pursuing my M. Des
            in Interaction Design at JKLU, Jaipur.
          </h3>
          <h5 class="mt-10 animate text-black/50">
            I've written a blog post about
            <a
              href="https://blog.fanindra.xyz/journal/my-story"
              class="bigtext text-black font-[1.25rem] underline-offset-2 decoration-black"
              target="_blank">my story ↗</a
            >

            <span class="text-black/50"> - just in case!</span>
          </h5>
        </div>

          <p class="animate">
            Beyond design, you'll find me <b class="text-black"
              >watching cricket</b
            > or consuming content about architecture, interior design, minimalism,
            tech, etc. Whether it's chatting about <b class="text-black"
              >new movies and shows to tech trends, or discussing maps and
              geopolitics</b
            >, I'm all ears. Let's kickstart some engaging conversations!
          </p>
        </section>

        <section class="animate space-y-4  max-w-screen-md mb-24">
          <h2>Get in touch</h2>
          <article class="flex flex-col gap-4">
            <h5 class="text-black/50">
              Send an email to <a
                href={`mailto:imfanindra@gmail.com`}
                aria-label={`Email`} class="bigtext text-black decoration-black underline-offset-2">imfanindra@gmail.com</a
              >
            </h5>
            <h5 class="text-black/50">
              Connect on <a
                href={`https://www.linkedin.com/in/fanindra-m/`}
                aria-label={`Email`} class="bigtext text-black decoration-black underline-offset-2">LinkedIn</a
              >
            </h5>
          </article>
        </section>

      </article>
    </div>
  </Container></PageLayout
>
