---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";

const projects = await getCollection('projects');

// Sort projects by date (recent to old)
projects.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <section class="py-5 sm:py-16 max-w-screen-md mx-auto mb-24">
      <div class="flex gap-2 flex-col">
        <p class="animate">Hey! I'm Fanindra <span class="font-mono text-[0.875rem] text-black tracking-tighter">(/fʌnɪndhɹʌ/)</span></p>
        <h1 class="animate text-black/50">
          An <span class="text-black">Interaction Designer </span>specialized in <span class="text-black"> crafting digital experiences </span> with empathy, innovation, and purpose.
        </h1>
      </div>
    </section>
    
    <section class="animate space-y-8 md:space-y-16 mb-24">
      <div class="flex flex-wrap gap-y-24 mx-auto max-w-screen-md">
        <h2 class="text-black/50">featured <span class="text-black">projects</span></h2>
      </div>
      <ul class="flex flex-col gap-16 sm:gap-32">
        {projects.map((project) => (
          <ArrowCard entry={project} />
        ))}
      </ul>
    </section>

    <section class="animate space-y-4 mx-auto max-w-screen-md mb-24">
      <h2>get in touch</h2>
      <article class="flex flex-col gap-4">
        <h5 class="text-black/50">
          Send an email to <a
            href={`mailto:imfanindra@gmail.com`}
            aria-label={`Email`} class="bigtext text-black decoration-black underline-offset-2">imfanindra@gmail.com</a
          >
        </h5>
        <h5 class="text-black/50">
          Connect on <a
            href={`mailto:imfanindra@gmail.com`}
            aria-label={`Email`} class="bigtext text-black decoration-black underline-offset-2">LinkedIn</a
          >
        </h5>
      </article>
    </section>
      </Container>
</PageLayout>