---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { SANDBOX } from "@consts";
---

<PageLayout title={SANDBOX.TITLE} description={SANDBOX.DESCRIPTION}>
  <Container>
    <section class="sm:py-16 mx-auto max-w-screen-lg space-y-16">
      <div class="flex flex-col">
        <h1
          class="animate text-2xl tracking-loose leading-9 text-black"
        >
          Check out some of my design explorations
        </h1>
      </div>

      <article class="animate flex flex-col gap-8">


        <div class="flex flex-col">
          <p>What if there are separate tabs for chats and groups on WhatsApp</p>
          <img src="/lab/1_WA.gif" alt="" class="rounded-lg" />
        </div>

        <div class="flex flex-col">
          <p>Sign-up screens</p>
          <img src="/lab/2_signup_screens.webp" alt="" class="rounded-lg" />
        </div>
        
        <div class="flex flex-col dark:hidden">
          <p>CRED style button</p>
          <img src="/lab/3_cred.gif" alt="" class="rounded-lg" />
        </div>

        <!-- Item 4 -->

        <div class="flex flex-col dark:hidden">
          <p>Login Screens for mobile application</p>
          <img src="/lab/4_login.webp" alt="" class="rounded-lg" />
        </div>

        <!-- Item 5 -->

        <div class="flex flex-col dark:hidden">
          <p>Widgets design for a to-do list app</p>
          <img src="/lab/5_todo_widgets.webp" alt="" class="rounded-lg" />
        </div>

        <!-- Item 6 -->

        <div class="flex flex-col dark:hidden">
          <p>Onboarding Screens</p>
          <img src="/lab/6_onboarding.webp" alt="" class="rounded-lg" />
        </div>

      </article>
    </section>
  </Container>
</PageLayout>
