---
const { children, className = "" } = Astro.props;
---

<div class={`animate ${className}`}>
  {children}
</div>

<script>
  if (typeof window !== "undefined") {
    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("show");
            observer.unobserve(entry.target); // Stop observing once the animation triggers
          }
        });
      },
      {
        rootMargin: "0px 0px -50% 0px",
        threshold: 0
      }
    );

    // Observe elements with `.animate` class
    document.querySelectorAll(".animate").forEach(observer.observe.bind(observer));
  }
</script>