---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
---

<footer class="animate select-none">
  <Container>
    <div class="relative">
      <div class="absolute right-0 -top-20">
        <BackToTop />
      </div>
    </div>
    <div class="flex justify-between items-center py-4">
      <div>
        &copy; 2024 {`—`} {SITE.NAME}
      </div>
      <div>
        Last updated - September 2024
      </div>
    </div>
  </Container>
</footer>
