---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
---

<footer class="animate select-none">
  <Container>
    <div class="relative">
    </div>
    <div class="flex justify-between items-center py-4">
      <div>
        &copy; 2024 {`—`} {SITE.NAME}
      </div>
      <div>
        Last updated - October 2024
      </div>
    </div>
  </Container>
</footer>
