---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-4 gap-x-2 align-middle justify-between select-none">
      <Link href="/" underline={false}>
        <img src="/Logo.svg" alt="">
      </Link>
      <nav class="flex gap-4 align-center">
        <Link href="/">Work</Link>
        <Link href="/about">About</Link>
        <Link href="https://blog.fanindra.xyz/designs" external>Sandbox</Link>
        <Link href="https://blog.fanindra.xyz/" external>Journal</Link>
      </nav>
    </div>
  </Container>
</header>