---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-4 gap-x-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-medium text-black dark:text-white hidden sm:inline-flex">
        Fanindra Maharana
        </div>
        <div class="font-medium text-black dark:text-white sm:hidden">
          Fanindra
          </div>
      </Link>
      <nav class="flex gap-4">
        <Link href="/"> Work </Link>
        <Link href="/about"> About </Link>
        <Link href="/lab"> Lab </Link>
        <Link href="/resume.pdf" external> CV </Link>
      </nav>
    </div>
  </Container>
</header>